---
layout: default
---

<div class="d-flex flex-row justify-content-center align-items-center pb-5">
	<button
		type="button"
		class="btn btn-dark mx-4"
		onclick="document.location = 'https://github.com/AM-ND-Test/{{page.repo}}/releases/latest/download/{{page.package}}'">
		Download
	</button>
	<button
		type="button"
		class="btn btn-dark mx-4"
		onclick="document.location = 'https://github.com/AM-ND-Test/{{page.repo}}/releases/latest'">
		Release Notes
	</button>
	<button
		type="button"
		class="btn btn-outline-dark mx-4"
		onclick="document.location = 'https://github.com/AM-ND-Test/{{page.repo}}/releases/'">
		Previous Versions
	</button>

	<button
		type="button"
		class="btn btn-outline-dark mx-4"
		onclick="document.location = 'https://github.com/AM-ND-Test/{{page.repo}}'">
		Source
	</button>
</div>
{{ content }}
